{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    
<h2 id="index_title">Available links :</h2>   
    
    {% if links %}
        <div class="list-group" id="link_list">
            {% for link in links %}
                <a href="{{ link.url }}" class="list-group-item" target="_blank">{{ link.title }}
                <span class="small">Submitted by {{link.author.username}}</span>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning">
            No links found.
        </div>
    {% endif %}
    
{% endblock %}
